html, body {
  margin: 0;
  padding: 0;
}

body > div {
  float: left;
}

body > div.toolbarbutton {
  padding: 1px;
}
body > div.toolbarbutton.pressed {
  padding: 2px;
}
body > div.toolbarbutton:hover {
  background: #333;
}

body > div.container {
  padding: 3px 1px;
}
