html {
  font-family: 'Calibri', sans-serif;
  font-size: 12pt;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 1.5em;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 0;
}

#animation {
  margin-top: 0;
}
